<%name = current_user ? current_user.name : 'meeseex'%>
<fieldset>
  <%= form_for [@article,@comment] do |f|%>
    <!--div class="field">
      <%#=f.label :user, "Name:" %>
      <%#=f.text_field :user , placeholder: name%>
    </div-->
    <div class="field">
      <%=f.label :body, "Your comment" %> <br>
      <%=f.text_area :body, placeholder: 'Tell me something I don\'t already know'%>
    </div>
    <span class="mainbtn"><%= f.submit 'submit' %></span>
  <%end%>
</fieldset>
