<%provide(:title, 'Blog')%>

<aside id="tagside">
  <h3>Tags</h3>
  <ul class="tags">
    <% @tags.each do |tag|%>
      <li><%= link_to tag.name, tag_path(tag), class:'tag' %></li>
    <%end%>
  </ul>
</aside>

<section id="articles">
  <% @articles.each do |article| %>
    <%= link_to (article_path(article)) do%>
      <article class="Article preview">
        <%=render article %>
      </article>
    <%end%>
  <% end%>
</section>

<footer>
  <span class="mainbtn"><%= link_to 'Add Article', new_article_path%></span>
</footer>
