<h1>All Articles</h1>
<table>
  <tr>
    <th>TITLE</th>
    <th>TEXT</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%=article.title%></td>
      <td><%=article.text%></td>
      <td><%= link_to 'show', article_path(article)%></td>
    </tr>
  <% end%>
</table>
<strong><%= link_to 'Add Article', new_article_path, class: 'create'%><strong>
