<!--if current_user-->
<section id="userProfile">
  <!---image tag-->
  <p> Hello, <h1 class="title"><%=@user.username %> </h1> </p>
  <%= link_to 'Edit Profile', edit_user_path(@user, class:'mainbtn') %>
</section>
