
<%# if comment.user.image.exists?%>
  <%#=image_tag comment.user.image.url, alt:'user photo', size:'30x30'%>
<%#else%>
 <%=image_tag '/images/mr_meeseeks_face', alt:'default user photo', size:'50x50'%>
<%#end%>
<h4><%= user.username%> says:</h4>
