
<%# if comment.user.image.exists?%>
  <%#=image_tag comment.user.image.url, alt:'user photo', size:'30x30'%>
<%#else%>
 <%#=image_tag '/images/mr_meeseeks_face.jpg', alt:'default user photo', size:'30x30'%>
<%#end%>
<h4><%#= comment.user.username%> says:</h4>
