<%provide(:title, 'About')%>
<div class="standalone alignCenter">
  <%=image_tag('/images/mr_meeseeks.png', alt:"Mr. meeseeks looking handsome AF", id:'myPhoto', height:'200')%>
  <p id="bio">Hey I am Mr. meeseeks look at meee. I'd litrally kill myself for a job. hit me up ;)'</p>
</div>
