
  <body>
    <div id ="intro">
      <h1>It's about <strong>BOOKS!<strong></h1>
      <p>In this page I divide my book collection using different subcatogries.</p>
        <ul id="IntNav">
          <li><a href="#cat">By Catogory</a></li>
          <li><a href="#importance">By Importance</a></li>
          <li><a href="#time">By Time</a></li>
        </ul>
    </div>


    <div id="cat">
      <h3>Category:</h3>
      <ul>
        <li>
          <h4>Maths</h4>
          <ul>
            <li>Bello's adventures in numberland</li>
          </ul>
        </li>
        <li>
          <h4>Philosophy</h4>
          <ul>
            <li>On The Taboo Against Knowng Who You Really Are</li>
          </ul>
        </li>
        <li>
          <h4>The Mind</h4>
          <ul>
            <li>Behave: The biology of humans at our best and worst</li>
          </ul>
        </li>
        <li>
          <h4>Computer science</h4>
          <ul>
            <li><abbr title="Godel, Escher, Bach">GEB</abbr>: An Eternal Golden Braid</li>
          </ul>
        </li>
      </ul>
    </div>

    <div id=importance>
      <h3>Importance:</h3>
      <ol>
        <li>On The Taboo Against Knowing Who You Really Are</li>
        <li><abbr title="Godel, Escher, Bach">GEB</abbr>: An Eternal Golden Braid</li>
        <li>Behave: The biology of humans at our best and worst</li>
        <li>Bello's Adeventures in Numberland</li>
      </ul>
    </div>

    <div id=time>
      <h3>Time:</h3>
      <ol>
        <li>On The Taboo Against Knowing Who You Really Are</li>
        <li><abbr title="Godel, Escher, Bach">GEB</abbr>: An Eternal Golden Braid</li>
        <li>Behave: The biology of humans at our best and worst</li>
        <li>Bello's Adeventures in Numberland</li>
      </ul>
    </div>
  </body>
</html>
