// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section#articles{
  float: right;
  width:70%;
  min-width: 320px;
  @media #{$small_screens}{
    width:100%;
  }
  padding: 0;
}

article.Article{
  float: left;
  margin: 5px;
  padding:10px;
  padding-top: 0;
  background-color: $primary_color;
  position: relative;
  z-index: 1;
  border-left: solid 5px $secondary_color;
  &.preview{
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    @media #{$large_screens}{
      width:40%
    }
    &:hover{
      animation: out 1s;
      animation-fill-mode: forwards;
    }
    .Abody{
          height: 6em;
    }
  }
  img{
    display: inline;
    margin: auto;
    width: 100%;
  }
  .Aheader{
    color:$Heading_font_color;
    border-bottom: 1px solid $footer_color;
    h3{
      display: inline-block;
      margin:0;
      font-size: 140%;
      font-family:$subheading_font;
      font-weight: bold;
      &:hover{
        text-shadow: 3px 3px 2px $primary_font_color;
      }
    }
  }
  .Abody{
    margin: 5px;
    overflow: hidden;
    font-family: $primary_font;
    p{
      margin:0;
    }
  }
}

@keyframes out {
  0%{box-shadow: none; right: 0; bottom: 0;background-color:$primary_color; }
  100%{ box-shadow: 5px 5px 10px 0; right: 5px; bottom: 5px;background-color: $secondary_color}
}
