body{
  color:$primary_font_color;
  margin: 0;
  background-color: $primary_color;
  header, footer,aside, .standalone, section{
    margin:0;
  }
  #content{
    overflow: auto;
    margin: 150px 0;
    width: 100%;
    height: 100%;
  }
  a{
    text-decoration: none;
    &:hover{
      text-shadow: 2px 2px 2px;
    }
  }
}
#footer{
  padding: 50px 0;
  background-color: $footer_color;
}
