.btn, .mainbtn{
  margin: 2px;
  display: inline-block;
  padding: 5px;
  float: right;
  color: white;
  background-color: $buttons_color;
  border-radius: 3px;
  &.mainbtn{
    margin:20px 30px;
  }
  &:hover{
    box-shadow: 0px 0px 5px 2px $primary_font_color;
  }
}
form{
  .title{
    float: left;
    width: 8em;
    text-align: right;
  }
  textarea{
    width: 70%;
    height: 5em;
    margin: auto;
    align-items: center;
  }
  input.button{
    float: right;
  }

}
