#appHeader {
  font-size: 160%;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  color: $primary_font_color;
  border-bottom: solid 3px black;
  &:hover{
    z-index: 10;
    animation: lit 2s;
    animation-fill-mode: forwards;
  }
  a:hover{
    color: white;
    text-shadow: 0 0 5px;
  }
  #menu{
    position: relative;
    z-index: 2;
    height: 10px;
    background-color: black;
  }
  #nav{
    position: relative;
    z-index: 0;
    height:30px;
    width: 100%;
    padding: 20px 0;
    padding-top: 20px;
    margin: 0;
    list-style: none;
    color: $nav_font_color;
    li{
      display: inline;
      a{
        font: $nav_font;
        padding: 20px 3%;
        position:relative;
        &.active{
          animation: drop 1s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  #login{
    position: relative;
    float:right;
    padding: 20px;
    font-size: 70%;
    z-index: 1;
    @media #{$small_screens}{
      display:block;
      width: 100%;
      height: 20px;
      margin:auto;
      padding: 0 10px;
      text-align: right;
    }
  }
}

.mobileOnly{
  @media #{$not_small_screens}{
    display: none;
  }
}

@keyframes drop {
  0% {background-color: $header_color; top:0}
  50%{}
  100%   { color:white; background-color: $footer_color; top:40px; text-shadow:0 0 5px; border: solid 2px black}
}
@keyframes lit {
  0%{}
  100%{background-color: $footer_color;}
}
