/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 body{
   background-color: #f1f4fc;
 }
 #content{

   margin: 50px auto;
   width: 60%;
   border-style: none;
 }
 h1{
   text-align: center;
   margin: 30px auto;
   padding: 15px;
   border-style: dashed;
   border-color: #fff097;
   width: 11em;
 }
 h4{
   margin: 10px
 }
 li{
   /*margin:5px 10px;*/
   display: inline;
   padding: 0 2%;
   color: white !important;
 }
 div{

 }
 #nav {
   font-size: 120%;
   padding-top: 5px;
   padding-bottom: 5px;
   list-style: none;
   background-color: #b00063;;
   text-align: center;
   width: 100%;
   position: fixed;
   top: 0;
   left:0;
   margin: 0 0;
 }
 a{
   text-decoration: none;
 }
 a:hover{
  text-shadow: 2px 2px 2px;
 }
 table{
   background-color: #bf005166;
   border-radius: 5px;
 }
 th{
   background-color: #81224799;
  padding: 5px;
  border-radius: 3px;
 }
 td{
   padding: 5px;
   border-spacing: 2PX;
   background-color: #bf005166;
 }
