/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 body{
   background-color: #efd4e4;
 }

 #content{
   overflow: auto;
   margin: 30px auto;
   padding: 1em;
   width: 100%;
   max-width: 1000px;
   height: 100%;
   border-style: none;
   background-color: #efd4e4;
 }
 h1{
   text-align: center;
   margin: 30px auto;
   padding: 15px;
   border-style: dashed;
   border-color: #ff1e9d;;
   width: 70%;
   font-style: oblique;
 }
 h4{
   margin: 10px
 }
 a{
   text-decoration: none;
 }
 a:hover{
  text-shadow: 2px 2px 2px;
 }
 .mainbtn{
   display: block;
   padding: 1em;
   width: 13em;
 }
footer{
  margin-top: 5EM;
}
