// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section#articles{
  float: left;
  width:69%;
  min-width: 14em;
  max-width: 100em;
  padding: 0;
}

article.Article{
  float: left;
  min-width: 10em;
  max-width: 30em;
  width:45%;
  padding: 0.5em;
  color: black;
  border-radius: 2px;
  background-color: white;
  &:hover{
    text-shadow: none;
    box-shadow: 2px 2px 5px;
  }
  img{
    display: block;
    margin: auto;
    width: 10em;
  }
  header.Atitle{
    display: inline;
    color:#6b003c;
    h3{
      margin:0;
      font-family:fantasy;
      font-weight: bold;
    }
  }
  p.Atext{
    margin: 0;
    font-size: 16px;
    color: #000;
    overflow: hidden;
    font-family: cursive;
    height: 2em;
  }
}
form{
  .title{
    float: left;
    width: 8em;
    text-align: right;
  }
  textarea{
    width: 70%;
    height: 5em;
    margin: auto;
    align-items: center;
  }
  input.button{
    float: right;
  }

}
