// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#IntNav {
  list-style: none;
  background-color: #f6e0e0;
  padding-left: 10px;
  width: 20em;
  margin-left: 15px;
  border-bottom-style: inset;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  margin-top: 0;
  left: 10em;
  display: flow-root;

}
