#appHeader {
  font-size: 120%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #b00063;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  color: white;
  #nav{
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
    @media only screen and (max-width: 400px){
      display:block;
    }
    li{
      display: inline;
      padding: 0 2%;
      a{
        font-family: fantasy;
        font-weight: bold;
        color: white !important;
      }
    }
  }
  #login{
    //screen >450
    float:right;
    padding: 0 10px;
    font-size: 80%;
    span{
      font-size: 60%;
    }
    @media only screen and (max-width: 400px){
      display:block;
      width: 100%;
      margin:auto;
      text-align: right;
    }
  }
}
.mobileOnly{
  @media only screen and (min-width: 400px){
    display: none;
  }
}
