// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tagside{
  min-width: 10em;
  float: left;
  width: 28%;
  max-width: 25em;
  padding: 0.5em;
  color: grey;
  background-image: linear-gradient(to top,#fff ,#efd4e4);
  h3{
    color: black;
  }
}
.tags{
  padding: 0;
  li{
    display: inline-block;
    list-style: none;
  }
}
